.v4-tease{
    display: block;
    padding: 15px 20px;
    font-weight: bold;
    color: 	#FFFFFF;
    text-align: center;
    background-color: #121212;
}
#scratchx-start{
    position: absolute;
    bottom: 10px;
    right: 10px;
}